header {
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;

  box-shadow: 0 1px .5em #C0C0C0;

  img {
    align-self: center;
    max-height: 40px;
  }

  nav {
    display: flex;
    gap: 16px;

    a {
      font-size: 1.2rem;
      font-weight: 700;
      letter-spacing: 0.01em;
      text-decoration: none;
      color: #3c3c3c;

      transition: color .3s;

      &:hover {
        color: #F30112;
        transition: color .3s;
      }
    }
  }
}