$color-background-primary: #1e7bc3;

$color-font-primary: #FFF;
$color-font-secondary: #3c3c3c;

$color-yellow: #C7965A;
$color-red: #D04447;
$color-purple: #6A69AC;
$color-orange: #E09D00;

$header-background: #f8f8f8;
$footer-background: #002E3B;