@import 'src/assets/scss/variables';

.character-card {
  display: flex;

  height: 100%;

  background-color: $color-orange;
  border-radius: 5px;

  cursor: pointer;

  img {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    height: 100%;
    width: 33%;
    max-width: 40%;
  }

  .char-data {
    display: flex;
    flex-direction: column;
    max-width: 67%;
    padding: 1rem;

    span.character-name {
      font-size: 1.2rem;
      font-weight: 700;
      line-height: 1.2rem;
    }

    span.character-description {
      text-overflow: ellipsis;
      overflow: hidden;
      max-width: 100%;
      white-space: nowrap;
      font-weight: 400;
    }
  }
}
