@import 'abstracts/variables';

.comic-page-wrapper {
  display: flex;

  img {
    max-height: 80vh;
    max-width: 25%;
  }

  .comic-content {
    margin-left: 1rem;

    h1 {
      margin-top: 2rem;
      line-height: 100%;
    }

    a.marvel-ref {
      font-size: .9rem;
      color: white;
      font-weight: 600;

      &:hover {
        color: $color-yellow;
      }
    }

    span {
      display: block;
      font-weight: 400;
    }

    .previews {
      .previews-wrapper {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;

        img {
          max-height: 25vh;
        }
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .comic-page-wrapper {
    flex-direction: column;
    align-items: center;

    img {
      max-width: 80%;
    }

    .comic-content {
      display: flex;
      flex-direction: column;
      align-items: center;

      a.marvel-ref {
        margin-top: 1rem;
        font-size: 1rem;
      }

      .previews > .previews-wrapper {
        justify-content: center;

        img {
          max-height: unset;
          max-width: 80vw;
        }
      }
    }
  }
}
