@import 'abstracts/variables';

.home-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 100%;
  padding: 24px 0;

  text-align: center;

  h1 {
    color: $color-font-primary;
  }

  h3 {
    color: $color-font-primary;
    margin-top: 1em;
    line-height: 1em;
    font-weight: 400;
  }

  .main-options {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 2rem;
    margin-top: 2.5rem;
  }
}

@media screen and (max-width: 900px) {
  .home-wrapper > .main-options {
    flex-direction: column;
    justify-content: flex-start;
  }
}
