@import 'src/assets/scss/variables';

.item-card {
  display: flex;

  height: 100%;

  background-color: $color-orange;
  border-radius: 5px;

  box-shadow: 4px 4px #555;;

  cursor: pointer;

  img {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    height: 100%;
    width: 33%;
    max-width: 40%;
  }

  .item-data {
    display: flex;
    flex-direction: column;
    max-width: 67%;
    padding: 1rem;

    span.item-name {
      font-size: 1.2rem;
      font-weight: 700;
      line-height: 1.2rem;
    }

    span.item-description {
      text-overflow: ellipsis;
      overflow: hidden;
      max-width: 100%;
      white-space: nowrap;
      font-weight: 400;
    }
  }
}

@media screen and (max-width: 374px) {
  .item-card > .item-data {
    span.item-name {
      font-size: .9rem;
    }

    span.item-description {
      font-size: .8rem;
    }
  }
}