@use 'abstracts/variables' as *;

footer {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  bottom: 0;
  height: 48px;
  width: 100%;

  background-color: $footer-background;
  color: $color-font-primary;

  font-size: .8rem;
  font-weight: 400;

}

@media screen and (max-width: 900px) {

  footer {
    position: fixed;
    bottom: 0;
  }
}
