<div class="home-wrapper">
  <h1>Marvel Hub Angular</h1>
  <h3>Descubra tudo o que há de disponível sobre o universo Marvel!</h3>

  <div class="main-options">
    <app-home-option-card [route]="routes.characters" title="Personagens" img="iron-man.svg"></app-home-option-card>
    <app-home-option-card [route]="routes.comics" title="Quadrinhos" img="america-shield.svg"></app-home-option-card>
    <app-home-option-card [route]="routes.stories" title="Histórias" img="thanos.svg"></app-home-option-card>
  </div>
</div>