@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;700&display=swap');

* {
  box-sizing: border-box;
}

html, body {
  font-family: 'Cairo', sans-serif;
  font-size: 18px;
  line-height: normal;
  font-weight: 300;

  background-color: $color-background-primary;
  color: $color-font-primary;
  height: 100%;
}
