$p-font-sizes: (
  null: 16px,
  480px: 18px,
  640px: 20px,
  1024px: 22px
);

// Font family
$sans-serif: 'Cairo', sans-serif;

// Font weights
$light: 300;
$normal: 400;
$semibold: 500;
$bold: 700;
